@model IEnumerable<iMovie.Models.Cart>

@{
    ViewData["Title"] = "proceed";
}
<body background="\uploads\cinema3.jpg">
    <h2>Podsumowanie zamówienia</h2>


    <
    <form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.seatno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MovieID)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.seatno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MovieID)
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            Łącznie(zł) = @Model.Sum(i => i.Amount)

        </div>
        <input type="submit" value="Zapłać" asp-controller="CartT" asp-action="BookTicket" formmethod="post" />
    </form>
</body>